doctype html 
html 
  head
    title WizzGameShop
    block scripts
    block style 
  body
    nav#navbar.navbar 
        ul
            div#logo
                img(src="/static/img/logo/logo0.png", alt="WizzGameShop", srcset="")
                | WizzGameShop
            li #[a(href='/') HOME ]
            li #[a(href='/') ACCESSORIES]
            li #[a(href='/') SERVICES]
            li #[a(href='/') ABOUT US]
            li #[a(href='/contacts') CONTACT US ]        
    block content

    footer#footer 
        |© 2021 WizzGameShop.com - All Rights Reserved | Developed by sheriff